.hello
{height: 40px;
 width: 420px;
 border-radius: 3px;
}
.hello1
{height: 40px;
 width: 420px;
 border-radius: 3px;
}
.hello3
{height: 40px;
 width: 420px;
 border-radius: 3px;
}
.container1{
  position: absolute;
left: 640px;
top: 1090px;
}.wrapper90{
  position: absolute;
  top: 1400px;
  left: 640px;
}

.home1-hello {
  position: relative;
  border-radius: var(--br-md);
  background-color: #f4f6f9;
  width: 100%;
  height: 1721px;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-teal);
  font-family: var(--font-montserrat);
}
.home1-add-child,
.home1-add-item {
  position: absolute;
  top: 163px;
  left: 554.35px;
  border-radius: var(--br-sm);
  width: 279px;
  height: 68px;
}
.home1-add-item {
  left: 320.35px;
}
.home1-add-inner {
  position: absolute;
  top: 21px;
  left: 124px;
  border-radius: 16px;
  background-color: var(--color-white);
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.25);
  width: 1194px;
  height: 85px;
}
.ellipse-icon,
.whatsapp-image-2022-12-22-at-9 {
  position: absolute;
  top: 35px;
  left: 152px;
  width: 209px;
  height: 65px;
  object-fit: cover;
}
.ellipse-icon {
  left: 1230px;
  width: 58px;
  height: 58px;
}
.home1-add-child1 {
  position: absolute;
  top: 53px;
  left: 674px;
  width: 16px;
  height: 26px;
}
.home1-add-child2,
.vector-icon {
  position: absolute;
  top: 162px;
  left: 78px;
  border-radius: var(--br-sm);
  width: 1287px;
  height: 359px;
}
.home1-add-child2 {
  top: 230.5px;
  left: 81px;
  width: 717px;
  height: 1px;
}
.home1-add-child4,
.home1-add-child5,
.home1-add-child6,
.rectangle-div {
  position: absolute;
  top: 572px;
  left: 410px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  width: 291px;
  height: 97px;
}
.home1-add-child4,
.home1-add-child5,
.home1-add-child6 {
  left: 742px;
}
.home1-add-child5,
.home1-add-child6 {
  left: 1074px;
}
.home1-add-child6 {
  left: 78px;
}
.scope-1,
.scope-2,
.scope-3 {
  text-decoration: none;
  position: absolute;
  top: 180px;
  font-size: var(--font-size-lg);
  font-weight: 800;
  font-family: var(--font-sarabun);
  display: inline-block;
  width: 189px;
  height: 41px;
}
.scope-1 {
  left: 111px;
  color: inherit;
}
.scope-2,
.scope-3 {
  left: 364px;
  color: var(--color-gray-200);
}
.scope-3 {
  left: 597px;
}
.rectangle-section {
  position: absolute;
  top: 714px;
  left: 78px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  width: 1284px;
  height: 925px;
}
.stationary-combustion {
  text-decoration: none;
  position: absolute;
  top: 598px;
  left: 109px;
  font-weight: 800;
  color: inherit;
  text-align: center;
  display: inline-block;
  width: 214px;
  height: 122px;
}
.mobile {
  margin-block-start: 0;
  margin-block-end: 0;
}
.combustion {
  margin: 0;
}
.fugitive-emissions,
.mobile-combustion {
  text-decoration: none;
  font-weight: 800;
  text-align: center;
  width: 244px;
  height: 122px;
}
.mobile-combustion {
  position: absolute;
  top: 598px;
  left: 437px;
  color: var(--color-gray-300);
  display: inline-block;
}
.fugitive-emissions {
  top: 600px;
  left: 770px;
}
.div,
.fugitive-emissions,
.process-emissions,
.tonnes-of-co2eq {
  position: absolute;
  color: var(--color-gray-300);
  display: inline-block;
}
.process-emissions {
  text-decoration: none;
  top: 598px;
  left: 1105px;
  font-weight: 800;
  text-align: center;
  width: 244px;
  height: 122px;
}
.div,
.tonnes-of-co2eq {
  top: 281px;
  left: 950px;
  font-size: 120px;
  font-weight: 600;
  font-family: var(--font-sarabun);
  width: 405px;
  height: 194px;
  text-align: center  ;
}
.tonnes-of-co2eq {
  top: 427px;
  left: 1012px;
  font-size: 25px;
  font-weight: 800;
  width: 290px;
  height: 96px;
}
.activity-captured-fuel-use,
.this-section-captures-any-emis {
  position: absolute;
  left: 158px;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  display: inline-block;
  height: 141px;
}
.this-section-captures-any-emis {
  margin: 0;
  top: 864px;
  width: 913px;
}
.activity-captured-fuel-use {
  top: 979px;
  width: 670px;
}
.home1-add-child7,
.wrapper {
  width: 421px;
  position: absolute;
}
.home1-add-child7 {
  top: 1170px;
  left: 639px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 65px;
}
.wrapper {
  border: 0;
  background-color: transparent;
  top: 1399px;
  left: 158px;
}
.container,
.home1-add-child8 {
  position: absolute;
  left: 640px;
  width: 421px;
}
.container {
  border: 0;
  background-color: transparent;
  top: 1089px;
}
.home1-add-child8 {
  top: 1251px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 65px;
}
.quantity,
.si-units {
  position: absolute;
  top: 1193px;
  left: 674px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-gray-500);
  display: inline-block;
  width: 195px;
  height: 32px;
}
.si-units {
  top: 1271px;
  left: 675px;
}
.frame,
.rectangle-formgroup {
  width: 421px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 1170px;
  left: 639px;
}
.rectangle-formgroup {
  top: 1251px;
  left: 640px;
}
.home1-add-child9 {
  position: absolute;
  top: 1397px;
  left: 639px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 421px;
  height: 65px;
}
.si-units1 {
  position: absolute;
  top: 1417px;
  left: 674px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-gray-500);
  display: inline-block;
  width: 195px;
  height: 32px;
}
.wrapper1 {
  width: 421px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 1397px;
  left: 639px;
}
.emission-source,
.stationary-combustion1 {
  margin: 0;
  position: absolute;
  left: 158px;
  display: inline-block;
}
.stationary-combustion1 {
  top: 804px;
  font-size: 32px;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-black);
  width: 513px;
  height: 79px;
}
.emission-source {
  top: 1359px;
  font-size: inherit;
  font-weight: 600;
  font-family: var(--font-sarabun);
  width: 490px;
  height: 31px;
}
.wrapper2,
.wrapper3 {
  width: 421px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 1091px;
  left: 158px;
}
.wrapper3 {
  top: 1171px;
}
.date,
.facility,
.fuel {
  margin: 0;
  position: absolute;
  top: 1051px;
  left: 158px;
  font-size: inherit;
  font-weight: 600;
  font-family: var(--font-sarabun);
  display: inline-block;
  width: 490px;
  height: 31px;
}
.date,
.fuel {
  left: 640px;
}
.date {
  top: 1359px;
}
.rectangle-button,
.view-data {
  width: 198px;
  position: absolute;
  top: 1397px;
  left: 1107px;
}
.view-data {
  text-decoration: underline;
  top: 1505px;
  left: 918px;
  font-size: var(--font-size-base);
  font-weight: 700;
  font-family: var(--font-sarabun);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 174px;
  height: 59px;
  cursor: pointer;
}
.factory-pollution-city-air-and-icon {
  position: absolute;
  top: 251px;
  left: 183px;
  width: 640px;
  height: 254px;
  object-fit: cover;
}
.dashboard,
.measure,
.offset,
.reduce {
  position: absolute;
  top: 53px;
  font-size: var(--font-size-base);
  font-weight: 600;
  display: inline-block;
  width: 106px;
  height: 31px;
}
.measure {
  text-decoration: underline;
  left: 461px;
  color: inherit;
}
.dashboard,
.offset,
.reduce {
  text-decoration: none;
  left: 645px;
  color: var(--color-black);
}
.dashboard,
.offset {
  left: 823px;
}
.dashboard {
  left: 983px;
  width: 140px;
}
.home1-add {
  position: relative;
  border-radius: var(--br-md);
  background-color: #f4f6f9;
  width: 100%;
  height: 1721px;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-teal);
  font-family: var(--font-montserrat);
}
