.Profile{
    position: absolute;
    left: 500px;
    background-color: aqua;
    margin: auto;
    border-radius: 10px;
    width: 500px;
    align-self: center;
    
}
.text{
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;
    
}
/* THIS IS MY CODE*/
.recom{
    position: absolute;
    /* left: 500px; */
    margin: auto;
    border-radius: 10px;
    align-self: center;
    padding:12%;
    
}
.rectan{
    
position: absolute;
width: 1194px;
height: 85px;
left: 124px;
top: 21px;

background-color: #FFFFFF;
box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.25);
border-radius: 16px;
}
.whatsappImage20221222At9 {
    position: absolute;
    top: 35px;
    left: 152px;
    width: 209px;
    height: 65px;
    object-fit: cover;
}
.subuserPageInner{
    position: absolute;
  top: 35px;
  left: 152px;
  width: 209px;
  height: 65px;
  object-fit: cover;
}
.subuserPageInner{
    left: 1230px;
    width: 58px;
    height: 58px;
    cursor: pointer;
}
.dashboard,
.measure,
.offset,
.reduce {
  text-decoration: none;
  position: absolute;
  top: 53px;
  left: 461px;
  font-size: 20px;
  font-weight: 600;
  font-family: Montserrat;
  color: #000;
  display: inline-block;
  width: 106px;
  height: 31px;
}
.dashboard,
.offset,
.reduce {
  left: 645px;
}
.dashboard,
.offset {
  left: 823px;
}
.dashboard {
  left: 983px;
  width: 140px;
}
.thank{
    font-size: small;
}
.comp{
    background-color: greenyellow;
}