h1{
  margin: auto;
  padding:20px;
  width:100%;
}
h5{
  margin: auto;
  padding:25px;
  width:100%;
}
.alignment{
  position: absolute;
top: 250px;
left: 300px;
  margin: auto;
width: 70%;
background-color: white;
padding: 10px;
height:  5400px;
}
/* .button{
  background-color: firebrick;
} */

/* CSS */
.button {
align-items: center;
appearance: none;
background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
border: 0;
border-radius: 6px;
box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-flex;
font-family: "JetBrains Mono",monospace;
height: 48px;
justify-content: center;
line-height: 1;
list-style: none;
overflow: hidden;
padding-left: 16px;
padding-right: 16px;
position: relative;
text-align: left;
text-decoration: none;
transition: box-shadow .15s,transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow,transform;
font-size: 18px;
}

.button:focus {
box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
transform: translateY(-2px);
}

.button:active {
box-shadow: #3c4fe0 0 3px 7px inset;
transform: translateY(2px);
}

.error{
  text-decoration-color: crimson;
}
.hell{


 padding: 20px;
 padding-left: 200px;
}
.questionarre-child,
.whatsapp-im {
  position: absolute;
  top: 50px;
  left: 1215px;
  width: 195px;
  height: 61px;
  object-fit: cover;
}
.questionarre-child {
  top: 150px;
  left: 103px;
  width: 137px;
  height: 137px;
}
.line{
  position: absolute;
  top: 80px;
  left: 350px;
}
.buttonsumit {
  width: 233px;
  position: absolute;
  top: 5300px;
  left: 800px;
  cursor: pointer;
  background-color: lightgreen;
  border-radius: 6px;
  padding-bottom: 4px;
  padding-top: 4px;
  color: black;
  
}
